.navbar-container {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: darkgrey;
    color: white;
  }
  
  .links {
    display: flex;
    margin-left: auto;
  }
  
  .nav.link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 20px;
  }
  
  .nav-link:hover {
    color: aqua;
  }
  
  .logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 20px;
  }